<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="text-right px-2" th:text="'Total clientes: ' + ${count}"></div>
	<div class="container-fluid py-4">

		<div class="card">

			<div class="card-header">
				<div class="card-title alert alert-info text-center"
					th:text="${title}"></div>
				<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
					<div class="float-right mx-1 alert-secondary rounded-lg">
						<strong class="mx-1" th:text="#{text.cliente.downloadList}">Descargar listado:</strong>
						<a class="btn btn-success btn-sm mx-1" target="_blank"
							th:href="@{'/listar/'(format=csv)}">CSV</a> <a
							class="btn btn-info btn-sm mx-1" target="_blank"
							th:href="@{'/listar/'(format=xml)}">XML</a><a
							class="btn btn-warning btn-sm mx-1" target="_blank"
							th:href="@{'/listar/'(format=json)}">JSON</a>
					</div>
				</div>
			</div>

			<div class="card-body">

				<table class="table table-dark table-hover">
					<thead class="thead-inverse">
						<tr>
							<th>ID</th>
							<th th:text="#{text.cliente.nombre}">Nombre</th>
							<th th:text="#{text.cliente.apellido}">Apellido</th>
							<th th:text="#{text.cliente.email}">Email</th>
							<th th:text="#{text.cliente.createAt}">Fecha</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"
								th:text="#{text.cliente.createBill}">Crear factura</th>
							<th sec:authorize="hasRole('ROLE_USER')"
								th:text="#{text.cliente.details}">Detalles</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"
								th:text="#{text.cliente.edit}">Editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"
								th:text="#{text.cliente.delete}">Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}" th:object="${cliente}">
							<td><span th:text="*{id}"></span></td>
							<td th:text="*{nombre}"></td>
							<td th:text="*{apellido}"></td>
							<td th:text="*{email}"></td>
							<td th:text="*{createAt}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-success btn-sm"
								th:href="@{/factura/form/} + *{id}"
								th:text="#{text.cliente.createBill}"></a></td>
							<td sec:authorize="hasRole('ROLE_USER')"><a
								class="btn btn-primary btn-xs" th:href="@{/ver/} + *{id}"
								th:text="#{text.cliente.details}"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-primary btn-sm" th:href="@{/form/} + *{id}"
								th:text="#{text.cliente.edit}"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-danger btn-sm" th:href="@{/eliminar/} + *{id}"
								th:text="#{text.cliente.delete}"
								onclick="return confirm('Seguro de querer eliminar a ese cliente');"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>

		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>