<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<nav th:fragment="paginator">

		<ul class="pagination">
			<li th:if="${not page.first}" class="page-item"><a
				class="page-link" th:href="@{${page.url}(page=0)}">Primera</a></li>

			<li th:if="${not page.first}"
				th:class="${page.hasPrevious? 'page-item' : 'page-item disabled'}">
				<a class="page-link"
				th:href="@{${page.url}(page=${page.paginaActual-2})}">&laquo</a>
			</li>


			<li th:each="item : ${page.paginas}"
				th:class="${item.actual? 'page-item active': 'page-item'}"><a
				class="page-link" th:if="${item.actual}" th:text="${item.numero}"></a>
				<a class="page-link" th:if="${!item.actual}"
				th:href="@{${page.url}(page=${item.numero-1})}"
				th:text="${item.numero}"></a></li>


			<li th:if="${not page.last}"
				th:class="${page.hasNext? 'page-item' : 'page-item disabled'}">
				<a class="page-link"
				th:href="@{${page.url}(page=${page.paginaActual})}">&raquo</a>
			</li>


			<li th:if="${not page.last}" class="page-item"><a
				class="page-link"
				th:href="@{${page.url}(page=${page.totalPaginas-1})}">Última</a></li>

		</ul>

	</nav>

</body>
</html>