<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">

			<div class="card-header">
				<div class="card-title alert alert-info text-center">
					<h3 th:text="${title}"></h3>
				</div>
			</div>

			<div class="card-body">
				<img th:if="${#strings.length(cliente.foto) > 0}" class="imgthumbnail rounded float-left mr-1" style="max-width: 25%"
					th:src="@{'/uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}">

				<ul class="list-group">
					<li class="list-group-item bg-dark text-light text-center"><span th:text="'Nombre: '"></span><span th:text="${cliente.nombre}"></span></li>
					<li class="list-group-item"><span th:text="'Apellido: '"></span><span th:text="${cliente.apellido}"></span></li>
					<li class="list-group-item"><span th:text="'Email: '"></span><span th:text="${cliente.email}"></span></li>
					<li class="list-group-item"><span th:text="'Fecha: '"></span><span th:text="${cliente.createAt}"></span></li>

				</ul>

			</div>

		</div>

	</div>
	
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>